body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#board {
  width: 500px;
  height: 435px;
  margin: 35px auto;
  border: 15px solid black;
  padding:15px;

}

.columns:nth-child(even) 
.square.column:nth-child(even) {
  background: grey;
}

.columns:nth-child(odd) 
.square.column:nth-child(odd) {
  background: grey;
}

.column {
  width: 50px;
  height: 50px;
  border: none;
}